body
{
    font-size: 20px;
}

input
{
    margin: 10px;
}

nav
{
    color:whitesmoke;
    background:#0099CC;
    padding:10px;
    margin-bottom:20px
}

.forms
{
    display: grid;
    place-items: center;
}
button
{
    border-radius: 3px;
    border: none;
    padding: 10px;
    background-color:#0099CC;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    
}